UserService/HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Maven
/target/


mvnw.cmd
mvnw
.xml
pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.metadata/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
gradle.properties


# IDEs and Tools
.idea/

*.env
*secrets.properties

.vscode/
*.class

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Application-specific
**/application.properties
**/application-*.properties
.properties
.env
*.db

# Security-sensitive
*.keystore
*.pem
*.jks


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###

